<div class="modal fade" id="change-phone-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Change phone number for {{hacker.name}}</h4>
      </div>
      <div class="modal-body">

        <h2>Change Phone Number&hellip;</h2>
        <p>Enter phone number for {{hacker.name}} below and press save</p>

        <!-- form content -->
        <form action="/api/change-phone/{{hacker._id}}" method="post">
          <div class="form-group">
            <input name="phone" type="text" class="form-control" placeholder="000-000-0000" {{#if hacker.phone}}value="{{hacker.phone}}"{{/if}}>
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>

      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->