<!-- views/login.hbs -->
<!doctype html>
<html>
<head>
	<title>reactorbase | change password</title>
	<link rel="stylesheet" href="/css/custom.css">
	<!--bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!--fontawesome-->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<!--nav header-->
{{> navbar}}

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-unlock-alt"></span> Change Password</h1>

	<!-- show any messages that come back with authentication -->
	{{#if message}}
		<div class="alert alert-danger">{{message}}</div>
	{{/if}}
	{{#if successMessage}}
		<div class="alert alert-success">{{successMessage}}</div>
	{{/if}}

	<!-- Password FORM -->
	<form action="/change-password" method="post">
		<div class="form-group">
			<label>Current password</label>
			<input type="password" class="form-control" name="oldPassword">
		</div>
		<div class="form-group">
			<label>New password</label>
			<input type="password" class="form-control" name="newPassword">
		</div>
		<div class="form-group">
			<label>Verify new password</label>
			<input type="password" class="form-control" name="newPasswordVerify">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Change password</button>
	</form>

	<hr>

	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
	<!-- footer content -->
	{{> footer }}

	<!-- js files -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
