<!DOCTYPE html>
<html lang="en">
<head>
	<title>reactorbase | cohort</title>
	<link rel="stylesheet" href="/css/custom.css">
	<!-- Bootstrap links below... -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/js/display.js"></script>
	<script src="/html/password.js"></script>
</head>
<body>

	<!-- Fixed navbar -->
    {{> navbar}}

<!-- page content begins here -->
	<div class="container">
		<div class="content-area">

			<!--initial landing content -->
				<!-- Content goes here -->
				{{#if hackers}}
					<div class="row">
						{{#each hackers}}
						{{#if this.name}} <!-- quick fix for weird empty box bug -->
						<div class="col-xs-6 col-md-3">
							    <a href="/hackers/{{this._id}}" class="thumbnail grid-cell">
							      <img class="grid-image" src="../../img/user-pics-grid/{{this.photo}}" alt="{{this.name}}">
							    </a>
						    <div class="grid-info">
							    <strong>{{this.name}}</strong>
							    <br />
							    <small class="grid-cohort">{{this.cohort}}</small>
						    </div>
						</div>
						{{/if}}
						{{/each}}
					</div>
				{{else}}
				<div  class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="block-message">
							<h1>No hackers to display.</h1>
							<div><blockquote>try a different search.</blockquote></div>
						</div>
					</div>
					<div class="col-md-2"></div>
				{{/if}}
		</div>
	</div>
	<!-- footer content -->
	{{> footer }}

</body>
</html>