<!DOCTYPE html>
<html lang="en">
<head>
	<title>reactorbase | {{hacker.name}}</title>
	<link rel="stylesheet" href="../css/custom.css">
	<!-- Bootstrap links below... -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="../js/display.js"></script>
	<script src="../html/password.js"></script>
</head>
<body>

	<!-- Fixed navbar -->
    {{> navbar }}

<!-- page content begins here -->
		<section class="hacker-head">
			<img class="user-image img-thumbnail" src="../img/user-pics-grid/{{hacker.photo}}">
			<h1 class="hacker-name">{{hacker.name}}</h1>
			<div>
				<a href="/hackers/cohorts/{{hacker.cohort}}" class="hacker-badge hacker-cohort">{{hacker.cohort}}</a>
				{{#each hacker.roles}}
				<span class="hacker-badge hacker-role">{{this}}</span>
				{{/each}}
				{{#if hacker.isMe}}
				<span class="hacker-badge hacker-badge-me">me</span>
				{{/if}}
			</div>
			<em class="name-note">{{hacker.name_note}}</em>
		</section>
		<div class="container">
		<div class="hacker-content-area">
			<!--initial landing content -->
				<!-- Content goes here -->
				<div class="row">
					<div class="col-md-8">
						<div class="panel panel-default user-panel">
							<div class="panel-heading">Q&amp;A</div>
							<div class="panel-body">
								<h3>What have you been up to before Hack Reactor?</h3>
								{{hacker.q1}}
								<h3>What city are you coming from to be here at HR?</h3>
								{{hacker.q2}}
								<h3>Tech Interests?</h3>
								{{hacker.q3}}
								<h3>Coding Experience?</h3>
								{{hacker.q4}}
								<h3>Fun Random Stuff?</h3>
								<ul>
								{{#each hacker.q5}}
									<li>{{this}}</li>
								{{/each}}
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">Info</div>
							<ul class="hacker-profiles">
								{{#if hacker.github_id}}
								<li><a href="http://github.com/{{hacker.github_id}}"><i class="fa fa-github-alt"></i>    {{hacker.github_id}}</a></li>
								{{/if}}
								{{#if hacker.email}}
								<li><a href="mailto:{{hacker.email}}"><i class="fa fa-paper-plane"></i>    {{hacker.email}}</a></li>
								{{/if}}
								{{#if hacker.hometown}}
								<li><a href="https://www.google.com/maps/place/{{hacker.hometown}}"><i class="fa fa-globe"></i>    {{hacker.hometown}}</a></li>
								{{/if}}
							</ul>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">Shoutouts</div>
							<ul class="hacker-profiles">
								<li><i class="fa fa-trophy fa-2x"></i></i> No shoutouts here yet</a></li>
							</ul>
							<button class="btn btn-default btn-sm">Give a shoutout to {{hacker.name}}</button>
						</div>
					</div>
					</div>
				<!-- End User Template -->
	</div>
</div>
	<!-- footer content -->
	{{> footer }}

</body>
</html>