<!-- views/login.hbs -->
<!doctype html>
<html>
<head>
	<title>reactorbase | login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<!--nav header-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
      	<div class="navbar-header">
      		<a class="navbar-brand" href="/">reactorbase</a>
      	</div>
          <ul class="nav navbar-nav navbar-left">
          	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hackers <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/hackers/cohorts/hr20">HR20</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Not Yet Implemented</li>
                <li class="disabled"><a href="#">HR21 (inactive)</a></li>
                <li class="disabled"><a href="#">HR22 (inactive)</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Or see everyone!</li>
                <li><a href="/hackers">All Hackers</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-left navbar-form" role="search" action="/search" method="post">
          	<div class="form-group">
          		<input name="search" type="text" class="form-control" placeholder="Search by name">
          	</div>
          	<!--<button type="submit" class="btn btn-default">Submit</button>-->
          </form>
          <ul class="nav navbar-nav navbar-right">
          	 <li><a class="btn" id="displayLogin" onclick="$('#loginModal').modal()">Login</a></li>
          </ul>
      </div>
    </div>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>

	<!-- show any messages that come back with authentication -->
	{{#if message}}
		<div class="alert alert-danger">{{message}}</div>
	{{/if}}

	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
