<!-- protected test page -->
<!-- views/profile.html -->
<!doctype html>
<html>
<head>
	<title>reactorbase | profile</title>
	<link rel="stylesheet" href="/css/custom.css">
	<!--bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!--fontawesome-->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>

<!-- nav header -->
{{> navbar }}

<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> This is you!</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- Hacker info -->
		<div class="col-sm-6">
			<div class="well">
				<img class="grid-image" src="/img/user-pics-grid/{{hacker.photo}}">
				<div class="profile-info">
					<h3> {{hacker.name}}</h3>
					<div>
						<a href="/hackers/cohorts/{{hacker.cohort}}" class="hacker-badge hacker-cohort">{{hacker.cohort}}</a>
						{{#each hacker.roles}}
						<span class="hacker-badge hacker-role">{{this}}</span>
						{{/each}}
					</div>

						<p>
							<strong>public hacker profile</strong>: <a href="/hackers/{{hacker._id}}">{{hacker.name}}</a> <br>
							<strong>user id</strong>: {{user._id}} <br>
							<strong>hacker.id</strong>: {{hacker._id}} <br>
							<strong>email</strong>: {{user.local.email}} <br>
							<a href="/change-password">change password</a>
						</p>
				</div>
			</div>
		</div>

	</div>
<!--
	<div class="row">
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: {{user._id}} <br>
						<strong>email</strong>: {{user.local.email}} <br>
						<strong>password</strong>: {{user.local.password}}
					</p>

			</div>
		</div>

	</div>
	-->

</div>
	<!-- footer content -->
	{{> footer }}

	<!-- js files -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>
