<!-- protected test page -->
<!-- views/profile.html -->
<!doctype html>
<html>
<head>
	<title>reactorbase | profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>

<!-- nav header -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
      	<div class="navbar-header">
      		<a class="navbar-brand" href="/">reactorbase</a>
      	</div>
          <ul class="nav navbar-nav navbar-left">
          	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hackers <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/hackers/cohorts/hr20">HR20</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Not Yet Implemented</li>
                <li class="disabled"><a href="#">HR21 (inactive)</a></li>
                <li class="disabled"><a href="#">HR22 (inactive)</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Or see everyone!</li>
                <li><a href="/hackers">All Hackers</a></li>
              </ul>
            </li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	 <li><a class="btn" id="displayLogin" onclick="$('#loginModal').modal()">Login</a></li>
          </ul>
      </div>
    </div>

<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: {{user._id}} <br>
						<strong>email</strong>: {{user.local.email}} <br>
						<strong>password</strong>: {{user.local.password}}
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>
