<!DOCTYPE html>
<html lang="en">
<head>
	<title>reactorbase | slash</title>
	<link rel="stylesheet" href="/css/custom.css">
	<!--bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!--fontawesome-->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

	<!-- Fixed navbar -->
    {{> navbar }}

<!-- page content begins here -->
	<div class="container">
		<div class="content-area">

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<div class="block-message">
						<h1>reactorbase</h1>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>

			<!--initial landing content -->
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
					<div class="block-message">
						<blockquote>
							<p>Hey there, and welcome to the hacker directory!</p>
							Choose a cohort to see folks, use the search box above or just <a href="/hackers">display everyone</a>!
						</blockquote>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>

	<!-- footer content -->
	{{> footer }}

	<!-- js files -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>