<!DOCTYPE html>
<html lang="en">
<head>
	<title>reactorbase | slash</title>
	<link rel="stylesheet" href="/css/custom.css">
	<!-- Bootstrap links below... -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/js/display.js"></script>
	<script src="/html/password.js"></script>
</head>
<body>

	<!-- Fixed navbar -->
    {{> navbar }}

<!-- page content begins here -->
	<div class="container">
		<div class="content-area">

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-4">
					<h1>reactorbase</h1>
				</div>
				<div class="col-md-2"></div>
			</div>

			<!--initial landing content -->
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
					<blockquote>
						<p>Hey there, and welcome to the hacker directory!</p>
						Choose a cohort to see folks, use the search box above or just <a href="/hackers">display everyone</a>!
					</blockquote>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
	<!--Login Modal-->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="loginModalLabel">Log in</h4>
	      </div>
	      <div class="modal-body">
	        <div class="form-signin" role="form">
				<img class="form-image" src="https://hrhq.squarespace.com/assets/images/logo@2x.png" />
				<h2 class="form-signin-heading">Welcome to HR20!</h2>
				<small>Enter the passcode to see the peeps!</small>
				<input type="password" class="form-control pass" placeholder="Password" required>
				<button class="btn btn-lrg btn-primary btn-block" id="submitPassword" type="submit">Enter</button>
			</div>
	      </div>
	      <!-- End Modal-->
	    </div>
	  </div>
</div>
</body>
</html>